/*==================================================================================
              DEFAULT VALUES
       Font Family         : Roboto Condensed
       
       Greenish Blue       : #34c6d3     (Buttons, Icons, Links, Lines & Backgrounds)
       Steel Gray          : #41464b     (Headings)
       Blue Bayoux         : #64707b     (Paragraphs)
       White               : #fff        (Text With Black Backgrounds)
       Black               : #000
       Gold                : #d3a409
================================================================================== */

/* General CSS */

html,
body {
    height: 100%;
}


body {

    font-family: "Roboto Condensed", sans-serif;
}

p {
    
    color: #fff;
    font-size: 20px;
    font-weight: 350;
    
}
p1 {
    color:black;
    font-size: 20px;
    font-weight: 350;

}

h3 {
    
    color:#dde1e6;
    text-transform: uppercase;
}

h4 {
    
    color:#6764f1;
    font-size: 50px;
}

html {
    scroll-behavior: smooth;
    
  }


/*==================================================================================
                                HOME
==================================================================================*/

#home {

    height: 100%;
}


#home-cover {

    background-image: url("../img/backgrounds/earth.gif");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#services-cover {
    background-image: url("../img/backgrounds/bg_galaxy.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat; 
    width: auto;
    height: auto;
    
}


#planetindex_cover {
    background-image: url("..//img/backgrounds/bg_galaxy_2.jpg");
    width: auto;
    height: auto;


}



#home-content-box {

    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {

    display: table-cell;
    vertical-align: middle;
    text-align: center;
    /* or use class="text-center" in div (bootstrap class) */
}

#home-heading h3 {
    /* css for all h3 elements in divs with id=home-heading */
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    /* font thickness */
    margin: 20px 0 20px 0;
    /* top, right, botom, left */
    text-transform: uppercase;
}

/*==================================================================================
                                Parallax (Generic)
==================================================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*==================================================================================
                                BUTTONS (Generic)
==================================================================================*/

.btn-general {

    border-color: #d3a409;
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute; left: 150px;
}

.btn-white {

    border-color: #d3a409;
    color: #d3a409;

}

.btn-white:hover,
.btn-white:focus {
    background-color: #d3a409;
    color: #fff;
}

.btn-blue {

    border-color: #d3a409;
    color: #d3a409;

}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #d3a409;
    color: #fff;
}

.btn-back-to-top {
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}

.button-data {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-data:disabled {
  pointer-events: none;
}

.button-data:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-data:active {
  box-shadow: none;
  transform: translateY(0);
}


/*==================================================================================
                                ANIMATE
==================================================================================*/

#home-cover,
#home-heading,

/* -Webkit- from autoprefixer site for safari */
#home-btn {
    -webkit-animation-duration: .5s;
            animation-duration: .5s;
}

#home-cover {

    -webkit-animation-delay: .1s;
            animation-delay: .1s;


}

#home-heading {

    -webkit-animation-delay: .5s;
            animation-delay: .5s;


}

#home-btn {

   -webkit-animation-delay: 1s;
            animation-delay: 1s;


}

/*==================================================================================
                                CONTENT (Generic)
==================================================================================*/

.content-box {

    padding: 30px 0 30px 0;
}

.content-title h3 {

    font-size: 30px;
    font-weight: 700;
    text-align: center;
    
}

.content-title-underline {
    
    width: 30px;
    height: 3px;
    background-color: #d3a409;
    margin: 0 auto 30px auto;              /*Tecnique to align object to center */
    
}
.content-title-underline-long {
    
    width: 700px;
    height: 3px;
    background-color: #d30909;
    margin: 0 auto 30px auto;              /*Tecnique to align object to center */
    
}

.content-title-white h3 {
    
    color: #fff;
}

/*==================================================================================
                                SERVICES
==================================================================================*/

.service-item {
    
    padding: 2px 0 2px 0;  /*inside item space */
    margin-bottom:  20px;    /*outside item space */
    cursor: pointer;
}

.service-item-icon i {
    
    color: #d3a409;
    float: left;
    padding: 15;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {

    color: #fff;
    background-color:#d3a409;
}

.service-item-title h3 {
    
    font-size: 60px;
    font-weight: 400;
    margin: 0 0 10px 0;
}
.service-item-title h4 {
    
   
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    
    margin: 0;
    padding-left: 85px;
    color: rgb(216, 211, 211);
}



/*==================================================================================
                                ABOUT
==================================================================================*/

#about-gb-diagonal {
    
    width: 65%;
    height: 810px;
    float: right;
    background-image: url(../img/backgrounds/bg_solar_system.jpg);
    border-left: 102px solid black;                     /*trick for diagonal picture background */
    border-bottom: 800px solid transparent;
}

#about-container {
 margin-left: 0;

}

#about-content-box {
    
    float: left;
    height: 700px;    /* if u have a section with left and right section, they must have same height */
    
}

#about-content-box-outer {
    
    width: 100%;       /* if its % it takes the % space of parrent element (content-box) */
    width: 500px;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    
    text-align: left;
}

#about .content-title-underline {
    
    margin: 0 0 30px 0;
}

#about-desc p {
    
    margin-bottom: 30px;
}

/*==================================================================================
                                WORK
==================================================================================*/

#work-cover {
    
   /* background-image: url(../img/transition/jwt_transition.gif);  */
    background-color: black;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}

.row.no-gutters [class*=col-] {     /* will select all elements with class="col-.." inside .row with class added "no-gutters */
    
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    
    overflow: hidden;              /* for scaling 1.5times */
}

.img-wrapper img {
    
    -webkit-transition: -webkit-transform .5s ease;               /* allows to change propertie values smoothly over duration */
    transition: -webkit-transform .5s ease;   
    transition: -webkit-transform .5s ease, -webkit-transform .5s ease;      
    border: 7px solid #362d8d;
}

.img-wrapper img:hover {
    
    -webkit-transform: scale(1.5);
    transform: scale(1.05);          /* changes size of element (care overflow) */
    cursor: zoom-in;
    
}

/*==================================================================================
                                TEAM
==================================================================================*/

.team-member {
    
    margin: 0 15px 0 15px;
}

.team-member-info {
    
    padding: 10px 0 30px 0;
}

h4.team-member-name  {
    
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation {
    
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}

/*==================================================================================
                                SOCIAL ICONS
==================================================================================*/

.social-list {
    
    padding-left: 0;
}

.social-list li {
    
    list-style: none;         /* remove dots from list */
    display: inline-block;    /* items next to eachother */
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    
    font-size: 17px;
}

.social-icon i:hover {
    
    color:#34c6d3;
}

.icon-gray {
    
    color: #64707b;
}

.icon-white {
    
    color: white;
}


/*==================================================================================
                                TESTIMONIALS
==================================================================================*/


#testimonials-cover {
    
    background-image: url(../img/bg-testimonials.jpg);
}


#testimonials .content-box {
    
    /* black border-grid for image. value from 0.1 to 1 */
    background-color: rgba(0,0,0, 0.1);
}


#customers-testimonials {
    
    padding: 50px 0;
}


.testimonial img {
    
    max-width: 120px;
    margin: 0 auto 0 auto; 
}

.testimonial blockquote {
    
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #fff;
    padding: 6px 150px; /* top/bot - left/right */
    position: relative;
}

.testimonial blockquote p {
    
    color:#fff;
    
}

/* insert something before the content of blockquote */

.testimonial blockquote::before,
.testimonial blockquote::after {
    
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}

.testimonial blockquote::before {
    
    content: "\201C";
    top: 0;
    left: 100px;
}

.testimonial blockquote::after {
    
    content: "\201D";
    bottom: 0;
    right: 100px;
}

.testimonial-author p {
    
    color: #fff;
    font-size: 17px;
}

.testimonial-author p strong {
    
    display: block;
}

/*==================================================================================
                                PRICING
==================================================================================*/

.pricing-box {
    
    border: 3px solid #d3a409;
    padding: 50px 0; /* inside spacing */
    margin: 40px 0;  /* outside spacing */
}

h4.pricing-title {
    
    background-color: #d3a409;
    color: #fff;
    display: inline-block;   /* fixes width and height */
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

.pricing-value {
    
    font-size: 60px;
    font-weight: 700;
}

h3.pricing-value sup {
    
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

ul.pricing-spec {
    
    list-style: none; /* removes dots from list */
    padding-left: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-specs li p {
    
    font-weight: 400;
    text-transform: uppercase;
}

.pricing-box-lg {
    
    padding: 90px 0; /* increase height */
    margin: 0;
    background-color: #fad970;
}

.pricing-box-lg h4.pricing-title {
    
    color: #d3a409;
    background-color: #fff;
}


/*==================================================================================
                                    STATS
==================================================================================*/

#stats-cover {
    
    background-image: url(../img/transition/space_nebulah_gif.webp);
    background-size: cover;
    height:700px;
}
#stats-cover-1 {
    background-image: url(../img/transition/earth_transition.webp);
    background-size: cover;
    height:700px;
}


#stats .content-box{
    
    background-color: rgba(0,0,0, 0.5);
    height: inherit;
}

.stats-item {
    
    padding: 100px 0;
}

.stats-item i {
    
    color: #34c6d3;
}

.stats-item h2 {
    
    color: white;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
    text-align: center;
}

.stats-item p {
    
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
}

#stat-btn {
    display: flex; 
    justify-content: center;
    margin-top: 3%;
}

/*==================================================================================
                                    CLIENTS
==================================================================================*/
.client {
    
    padding: 40px 0;
}

/*==================================================================================
                                    CONTACT
==================================================================================*/

footer {
    
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0,0,0, 0,1);
}

#contact-left h3, #contact-right h3 {
    
    color: white;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    
    color: #fff;
    margin-bottom: 30px;
}

#contact-info {
    
    background-image: url(../img/world-map.png);
    background-repeat: no-repeat;
    background-size: contain;
}

address {
    
    color: white;
}

address strong {
    
    font-size: 16px;
}

address strong, #phone-fax-email strong {
    
    letter-spacing: 1px;
}

form .form-control {
    
    background: transparent;
    border-radius: 0;
    border-color: white;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: white;
}

/*==================================================================================
                                FOOTER
==================================================================================*/

#footer-bottom{
    
    background-color: rgba(0,0,0,0.1);
    padding: 30px 0;
    margin-top: 60px;
    
    }

#footer-copyrights p {
    
    margin: 0;
    color: #fff;    
}

#footer-menu {
    
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    
    display: inline-block; /*next to each other */    
}

#footer-menu a {
    
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    
    color: #d3a409;
}

/*==================================================================================
                                NAVIGATION
==================================================================================*/

.navbar-brand {
    padding: 0;
}


.navbar {
    
    padding: 20px 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.vesco-top-nav {
    
    background: rgba(0,0,0, 0.7);
    padding: 7px 0;
}

.vesco-nav-wrapper {
    
    padding: 0 85px;
}

.navbar-nav {
    
    float: right;
}


/* > search for child elements */
.navbar-nav > li > a {
    
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;    
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    
    background: none;
    color: #d3a409;
    
}


/* Next two are for collapse button appereance */
.navbar-toggle {
    
    background-color: rgba(0,0,0,0,1);
    border: 1px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    
    background-color: #fff;
}

.navbar-collapse {
    
    max-height: 70px !important;  /* important ignores bootstrap property */
    
}

.vesco-top-nav ul.navbar-nav > li.active > a {
    
    color: #d3a409;
}


/*==================================================================================
                                SLIDER
==================================================================================*/


.slidecontainer {
    margin-top: 10px;
    width: 99%;
}

.slider-range {
    width: 90%;
}

.range-number {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
    margin-bottom: 10px;
    
}

.imgchange {
    width: auto;
    height: auto;
    
}





/*==================================================================================
                                IMAGE ANIMATIONS
==================================================================================*/

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}



.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
   
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
    
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Roxy *****/
/*---------------*/

figure.effect-roxy {
	background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
	background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 9999;
    filter: blur(5px);
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y:scroll;

    background-color: rgba(0,0,0,0.8);
  }
  .modal-open {
    overflow: unset;
}
  


  .modal-content {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }



  .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2em;
  cursor: pointer;
  color: #fff;
  z-index: 99999;
}


figure.effect-roxy img {
	max-width: none;
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
}

figure.effect-roxy figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-20px,0,0);
	transform: translate3d(-20px,0,0);
}

figure.effect-roxy figcaption {
	padding: 3em;
	text-align: left;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    padding-top: 20px;
}

figure.effect-roxy p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
    
}

figure.effect-roxy:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*==================================================================================
                                CARD ANIMATIONS
==================================================================================*/



    
:root {
    --clr-shade: #242526;
    --clr-light: #f6f6f6; 
    --ff-display: "Hoverunit", cursive;
    --ff-sans: 'Open Sans', sans-serif;
    --ff-serif: "Special Elite", serif;
  }

 
  h6 {
    font-family: var(--ff-display);
    line-height: 120%;
    text-transform: uppercase;
  }
  h6.pen-title {
    color: var(--clr-light);
    font-size: 3rem;
    margin: 0 0 1rem 0;
    text-align: center;
    text-shadow: 3px 3px 0 hsl(0, 0%, 0%, 0.25);
  }
  a {
    color: var(--clr-light);
  }
  a:hover {
    text-decoration: none;
  }
  section.site__wrapper {
    display: grid;
    min-height: 60vh;
    place-items: center;
    padding-block: 3rem;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--ff-serif);
    justify-content: space-between;
    padding: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  footer img#logo {
    height: auto;
    width: min(300px, 150px);
  }
  
  footer > p {
    font-size: smaller;
    margin-bottom: 0;
  }
  
  /* TECHNIQUE STYLES START HERE
  -------------------------------------------------------- */
  #main {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: fit-content;
  }
  
  .card {
    border: 1px solid hsl(0, 0%, 0%, 0.25);
    box-shadow: 0.5rem 0.5rem 1rem hsl(0, 0%, 0%, 0.5);
    height: 830px;
    overflow: hidden;
    position: relative;
    width: 50%;
    
  }
  
  .card a {
    display: block;
      height: 100%;
    width: 100%;
    
  }
  
  .card img {
    display: block;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 255ms ease-in-out;
    width: 101%;
    z-index: 0;
    
  }
  
  .card:hover img {
    top: -2rem;
    filter: blur(6px);
    transition: 5s -webkit-filter linear;
  }
  
  .card a .caption {
    background-color: hsl(0, 0%, 0%, 0);
      display: grid;
    overflow: hidden;
    padding: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 350px;
      transition-property: all;
    transition-duration: 0.2s;  
    width: 100%;  
    z-index: 10;  
  }
  
  .card a:hover .caption {
    background-color: hsl(0, 0%, 0%, 0.5);
      top: 0;
    transition: all 2s;
    overflow-y: scroll;
    
   
  }
  
  .card a .caption h6 {
    color: var(--clr-light);
    font-size: 2.8rem;
    text-shadow: 2px 2px 0 var(--clr-shade), -2px -2px 0 var(--clr-shade), -2px 2px 0 var(--clr-shade), 2px -2px 0 var(--clr-shade);
    margin-top: 0px;
    margin-bottom: 30px;
    }
  
  .card a .caption p {
    color: var(--clr-light);
    display: none;
    font-size: smaller;
    transition: all 0.2s;
    width: 95%;
    font-size: 25px;
    
  }
  
  .card a:hover .caption p {
    display: block;
  }


/*==================================================================================
                                3D IMAGE EFFECT
==================================================================================*/


#effect_images  {
    /* adjust the below to control the 3D effect */
    --x: 10px;
    --y: 20px;
    transform: perspective(1000px) rotateX(var(--_a,40deg));
    /* */
    clip-path: polygon(       
       var(--y)              var(--y),       
       calc(100% - var(--y)) var(--y),       
       calc(100% - var(--y)) calc(100% - var(--y)),       
       calc(100% - var(--y) - var(--x)) var(--_c,100%),       
       calc(var(--x) + var(--y))        var(--_c,100%),      
       var(--y)        calc(100% - var(--y))       
       );
    outline: var(--y) solid rgba(0,0,0,0.4);
    outline-offset: calc(-1*var(--y));
    padding: var(--y) var(--y) 0 var(--y);
    transition: 1s;
    width:95%;
  }
  .box:hover img {
    --_a: 0deg;
    --_c: calc(100% - var(--y));
  }
  
  /* the below is irrelevant to the 3D effect */
  .box {
    cursor: pointer;
  }
  h5 {
    text-align: center;
    margin: 0;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
    transform: translateY(350%);
    transition: .8s;
    color: #8fcbff;
    
  }
  .box:hover h5{
    transform: translateY(0%);
    transition: .8s .2s;
  }
    
  @media (max-width: 900px) {
    body {
      grid-auto-flow: row;   
    }
  }


/*==================================================================================
                                RESPONSIVE IMAGE GALLERY
==================================================================================*/


h1{
    font-family: san-serif;
    font-size:50px;
    font-weight: bold;
    font-style: italic;
    text-align:center;
    color: white;
    background: rgb(93,19,16);  
    background: radial-gradient(circle, rgba(93,19,16,1) 2%, rgba(213,161,39,1) 47%, rgba(2,0,36,1) 92%);
    padding:1%;
  }
  #gallery{
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  @media (max-width:1200px){
    #gallery{
    -webkit-column-count:3;
    -moz-column-count:3;
    column-count:3;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  }
  @media (max-width:800px){
    #gallery{
    -webkit-column-count:2;
    -moz-column-count:2;
    column-count:2;
      
    -webkit-column-gap:20px;
    -moz-column-gap:20px;
    column-gap:20px;
  }
  }
  @media (max-width:600px){
    #gallery{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
  }  
  }
  #gallery img,#gallery video {
    width:100%;
    height:auto;
    margin: 4% auto;
    box-shadow:-3px 5px 15px #000;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .modal-img,.model-vid{
    width:100%;
    height:auto;
  }
  .modal-body{
    padding:0px;
  }

